<h2> Welcome to Flash Decks</h2>
<p class="message"> Flash Decks is a study tool that works by simulating index cards. </p>
<p class ="message"> Get started by login in or browse our public decks.</p> 
